{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>LEARN</title>
</head>

<body>

    <div class="container">
        <div class="admin">
            <h6>ADMIN</h6>
            <div class="social-links">
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <div class="header">
            <h1>Networking.com</h1>
        </div>
        <div class="sub-container">
            <div class="teams">
                <img src="{% static 'css/routing.png' %}" alt="">
                <div class="name">Routing Protocols</div>
                <div class="desig">Routing</div>
                <div class="about">The main purpose of routing protocols is to know about all the existing networking routes and make correct decisions.
                    Some examples of common routing protocols are RIP, EIGRP,OSPF,BGP</div>
                    <a href="#" class="myButton">Click Here</a>


            </div>

            <div class="teams">
                <img src="{% static 'css/switch.png' %}" alt="">
                <div class="name">Switch configurations</div>
                <div class="desig">Basic Configuration commands</div>
                <div class="about">Configurations of CISCO Switch. It is  used to forward packet from one device to another
                     within the network. It forwards the packet through one of its ports on the basis of destination MAC address .</div>

                     <a href="#" class="myButton">Click Here</a>

            </div>


            <div class="teams">
                <img src="{% static 'css/socket.png' %}" alt="">
                <div class="name">Socket Programming</div>
                <div class="desig">By Python Programming</div>
                <div class="about">A socket is a communications connection point that you can name and address in a network. It shows how to use socket APIs
                    to establish communication links between remote and local processes.</div>
                    <a href="#" class="myButton">Click Here</a>


            </div>
        </div>
    </div>
</body>

</html>