{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>LEARN</title>
</head>
<body>

    <div class="container">
        <div class="admin">
            <h6>ADMIN</h6>
            <div class="social-links">
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <div class="header">
            <h1>Python Programming</h1>
        </div>
        <div class="sub-container">


            <div class="teams">
                <div class="name">Variables</div>
                <div class="about"> Variable is a name which is used to refer memory location. Variable also known as identifier and used to hold value. In Python, we don't need to specify the type of variable because
                    Python is a type infer language and smart enough to get variable type</div>
                     <a href="https://networkersgod.blogspot.com/2022/07/python-program-variables.html" class="myButton">Click Here</a>
            </div>


            <div class="teams">
                <div class="name">Functions</div>
                <div class="about">A function in Python is an aggregation of related statements
                    designed to perform a computational, logical, or evaluative task.</div>
                    <a href="https://networkersgod.blogspot.com/2022/07/python-program-functions.html" class="myButton">Click Here</a>
            </div>





            <div class="teams">
                <div class="name">User Input</div>
                <div class="about">Python user input from the keyboard can be read
                    using the input () built-in function.The input from the user is read as a string and can be assigned to a variable</div>
                     <a href="https://networkersgod.blogspot.com/2022/07/python-program-user-input.html" class="myButton">Click Here</a>
            </div>






            <div class="teams">
                <div class="name">Tuples</div>
                <div class="about">A tuple is created by placing all the items (elements) inside parentheses (), separated by commas.
                    The parentheses are optional, however, it is a good practice to use them.</div>
                     <a href="https://networkersgod.blogspot.com/2022/07/python-program-tuple.html" class="myButton">Click Here</a>
            </div>






            <div class="teams">
                <div class="name">Sets</div>
                <div class="about">Set Operations. The sets in python are typically used for mathematical operations like union,
                    intersection, difference and complement etc</div>
                     <a href="https://networkersgod.blogspot.com/2022/07/python-program-sets.html" class="myButton">Click Here</a>
            </div>







            <div class="teams">
                <div class="name">Prime Numbers</div>
                <div class="about">Find a whole number greater than 1 that cannot be exactly divided by any
                    whole number other than itself and 1 (e.g. 2, 3, 5, 7, 11): using python</div>
                     <a href="https://networkersgod.blogspot.com/2022/07/python-program-prime-numbers.html" class="myButton">Click Here</a>
            </div>


            <div class="teams">
                <div class="name">Multiple Inheritance</div>
                <div class="about">Multiple Inheritance in Python. Inheritance is the mechanism to achieve the re-usability of code as one class (child class)
                    can derive the properties of another class (parent).</div>
                     <a href="https://networkersgod.blogspot.com/2022/07/python-program-multiple-inheritance.html" class="myButton">Click Here</a>
            </div>


            <div class="teams">
                <div class="name">For Loop</div>
                <div class="about">The "for" loops in Python are very versatile
                    and can iterate over a sequence, list, dictionary, or any iterable object.The "for loop" in Python is one of the
                    loops built in the language.</div>
                     <a href="https://networkersgod.blogspot.com/2022/07/python-program-for-loop.html" class="myButton">Click Here</a>

            </div>



            <div class="teams">

                <div class="name">For Else</div>
                <div class="about">The for loop is one of the most widely used loops due to its simplicity. Python has a very interesting feature associated with the for loop.
                    It allows us to use the else statement.</div>
                     <a href="https://networkersgod.blogspot.com/2022/07/python-program-for-else.html" class="myButton">Click Here</a>
            </div>



            <div class="teams">
                <div class="name">Dictionary</div>
                <div class="about">Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*,
                    changeable and do not allow duplicates.</div>
                     <a href="https://networkersgod.blogspot.com/2022/07/python-program-dictionary.html" class="myButton">Click Here</a>
            </div>



            <div class="teams">
                <div class="name">Arrays</div>
                <div class="about">Python Arrays An array is defined as a collection of items that are stored at
                    contiguous memory locations. It is a container which can hold a fixed number of items.</div>
                     <a href="https://networkersgod.blogspot.com/2022/07/python-program-arrays.html" class="myButton">Click Here</a>
            </div>



            <div class="teams">
                <div class="name">Swap Variable</div>
                <div class="desig">Basic Configuration commands</div>
                <div class="about">Python Program to Swap Two Variables Using a Temporary Variable.
                    This Python program interchanges the values of two variables using a temporary variable </div>
                     <a href="https://networkersgod.blogspot.com/2022/07/python-program-swap-variables.html" class="myButton">Click Here</a>
            </div>



            <div class="teams">
                <div class="name">Pyramid Pattern</div>
                <div class="about"> Python Program to Create Pyramid Patterns. In this example, you will learn to print pyramids</div>
                     <a href="https://networkersgod.blogspot.com/2022/07/python-program-pyramid-pattern.html" class="myButton">Click Here</a>
            </div>


            <div class="teams">
                <div class="name">Reverse a String</div>
                <div class="about">Sometimes, while working with strings we might have a
                    problem in which we need to perform the reverse slicing of string,</div>
                     <a href="https://networkersgod.blogspot.com/2022/07/python-program-reverse-string.html" class="myButton">Click Here</a>
            </div>


            <div class="teams">
                <div class="name">Add,Sub,Mul,Div</div>
                <div class="about">Program to perform addition, subtraction, multiplication and division on two input numbers in Python.</div>
                     <a href="https://networkersgod.blogspot.com/2022/07/python-program-addition-substraction.html" class="myButton">Click Here</a>
            </div>



</div>

    </div>
</body>

</html>