{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Responsive Cards UI Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/rout.css' %}">
</head>
<body>

<div class="wrapper">
	<div class="header">Routing Protocols</div>

	<div class="cards_wrap">
		<div class="card_item">
			<div class="card_inner">

				<div class="role_name">RIP</div>
				<div class="real_name">Routing Information Protocols</div>
				<div class="film">Routing Information Protocol (RIP) is a dynamic routing protocol
					that uses hop count as a routing metric to find the best path between the source and the destination network.
					 </div>
				<a href="https://networkersgod.blogspot.com/2022/07/rip-rouitng-information-protocols.html" class="myButton">Configuration</a>
			</div>

		</div>
		<div class="card_item">
			<div class="card_inner">

				<div class="role_name">OSPF</div>
				<div class="real_name">Open Shortest Path First</div>
				<div class="film">OSPF (Open Shortest Path First) is used to find the best path between the source and the
					destination router using its own Shortest Path First.Configurations Below </div>
				<a href="https://networkersgod.blogspot.com/2022/07/ospf-open-shortest-path-first.html" class="myButton">Configuration</a>
			</div>
		</div>
		<div class="card_item">
			<div class="card_inner">

				<div class="role_name">EIGRP</div>
				<div class="real_name">Enhanced Interior Gateway Routing Protocol</div>
				<div class="film">Enhanced Interior Gateway Routing Protocol is an advanced distance vector routing protocol
					based on the principles of the Interior Gateway Routing Protocol.</div>
				<a href="https://networkersgod.blogspot.com/2022/07/eigrp-enhanced-interior-gateway-routing.html" class="myButton">Configuration</a>
			</div>
		</div>
		<div class="card_item">
			<div class="card_inner">

				<div class="role_name">BGP</div>
				<div class="real_name">Border Gateway Protocols</div>
				<div class="film">Enhanced Interior Gateway Routing Protocol is an advanced distance vector routing protocol
					 based on the principles of the Interior Gateway Routing Protocol.Configurations Below</div>
				<a href="https://networkersgod.blogspot.com/2022/07/bgp-border-gateway-protocol.html" class="myButton">Configuration</a>
			</div>
		</div>
		<div class="card_item">
			<div class="card_inner">

				<div class="role_name">RIP-ng</div>
				<div class="real_name">RIP IPV6</div>
				<div class="film">When IP version 6 protocol came up, again a new version of RIP was required to support IPv6.
					 This new version of RIP is now known as Routing Information Protocol New Generation (or RIPng).Configurations Below</div>
				<a href="https://networkersgod.blogspot.com/2022/07/ripng-routing-information-protocol-next.html" class="myButton">Configuration</a>
			</div>
		</div>
		<div class="card_item">
			<div class="card_inner">

				<div class="role_name">OSPF V3</div>
				<div class="real_name">OSPF IPV6</div>
				<div class="film">IPv6 OSPF or OSPF version 3 (OSPF v3) is a link state protocol that is used to exchange IPv6 routing information. After enabling IPv6 OSPF,
					 you need to configure advertisement of IPv6 OSPF routes.</div>
				<a href="https://networkersgod.blogspot.com/2022/07/ospfv3.html" class="myButton">Configuration</a>
			</div>
		</div>
		<div class="card_item">
			<div class="card_inner">

				<div class="role_name">EIGRP V6</div>
				<div class="real_name">EIGRP IPV6</div>
				<div class="film">EIGRP for IPv6 is one of the most used routing protocol with IPv6. It is the enhanced version of EIGRP. In this IPv6 Training Routing Example,
					 we will see how to configure EIGRP for IPv6 on Cisco routers.</div>
				<a href="https://networkersgod.blogspot.com/2022/07/eigrpv6.html" class="myButton">Configuration</a>
			</div>
		</div>
		<div class="card_item">
			<div class="card_inner">

				<div class="role_name">30 CISCO Commands</div>
				<div class="real_name">Some Routing Commands</div>
				<div class="film">Here, we will talk about Cisco router basic commands like assigning IP address to an interface,
					bringing up an interface, applying enable and secret password and some other basic commands</div>
				<a href="https://networkersgod.blogspot.com/2022/07/cisco-commands.html" class="myButton">Commands</a>
			</div>
		</div>
	</div>
</div>

</body>
</html>